<div class="h-full w-full">
  <.flash_group flash={@flash} />
  <div class="flex flex-col items-center justify-center gap-y-4 h-full">
    <.nav_button path="/live" text="Portfolio" />
    <.nav_button path="/gameoflife" text="Game of Life" />
  </div>
  <.footer />
</div>
