@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* setting defaults */
@layer base {
    html {
        line-height: 1.5;
        font-weight: 400;
    }
}

#particles-js {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}