<div class="h-full w-full">
  <.header text="Portfolio - WIP"></.header>
  <.button type="button" phx-click="download_portfolio" class="absolute top-2 right-1 sm:right-8">
    <span>Download Portfolio</span>
  </.button>

  <.right_row :for={ele <- @journey} title={ele.title} date={ele.date} id={ele.id} focus={@focus}>
    {ele.text}
  </.right_row>

  <.footer />
</div>
